.ProductPreview {
    width: 100%;
  }
  
  .ProductPreview > img {
    width: 100%;
  }
  .TimeSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-277% ,-25%);
    color: white;
    font-size: 48px;
    font-weight: 600;
    
  }
  .HeartBeatSection{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-750% ,-10%);
    font-size: 35px;
    font-weight: 600; 
    color:white
    
  }
  .HeartBeatSection>i{
    color: red;
    animation: beat 0.5s infinite;
  }
 
  
  @keyframes beat {
    0% {
      transform: scale(1 ,1);
    }
    50% {
      transform: scale(1.2 ,1.2);
    }
    100% {
      transform: scale(1 ,1);
    }
  }
  